@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.main{
    width:1440px;
    margin: auto;
    transition: all 0.5s;
}


nav{
    width: 1440px;
    margin: auto;
    display: flex;
}

nav p{
float: left;
margin-left: 30px; 
height: 53px;
font-weight: 800;
font-size: 36px;
line-height: 53px;
color: #333333;
font-family: 'Heebo', sans-serif;
}

nav ul{
    margin: auto;
    margin-right:0% ;
    width: 850px;
    height: 36px;
    display:flex;
    
}
nav ul li{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
list-style: none;
font-family: 'Poppins', sans-serif;
color: #333333;
margin-left: 50px;

}

.main1{
    width: 1100px;
    margin:auto;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.main1 p:nth-child(1){
    width: 256px;
height: 27px;
    font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #2D9CDB;
}
.main1 p:nth-child(2){
    width: 543px;
height: 144px;
font-weight: 500;
font-size: 48px;
line-height: 72px;
color: #333333;
}

.main1 img{
    position: relative;
    width: 1332px;
    height: 354px;
    left: -160px;
    border-radius: 18px;

}

.main1 p:nth-child(4){
    width: 366px;
height: 141px;
font-weight: 500;
font-size: 48px;
line-height: 72px;
color: #333333;
}

.main1 p:nth-child(5){
    width: 366px;
height: 137px;
font-size: 18px;
line-height: 27px;
color: #4F4F4F;
}

.main1 p:nth-child(6) {
    color: #828282;
    font-weight: 500;
font-size: 14px;
line-height: 21px;
width: 172px;
height: 21px;
}

.main1 div input{
    background: #F2F2F2;
border-radius: 12px;
width: 350px;
height: 57px;
border: none;
font-size: 18px;
line-height: 27px;
padding-left:20px;
font-family: 'Poppins', sans-serif;
}

.main1 div button{
    position: absolute;
    width: 94px;
    height: 49px;
    background: #2D9CDB;
    border-radius: 12px;
    border: none;
    color: #F2F2F2;
    font-size: 18px;
    line-height: 27px;
    margin-left: -100px;
    margin-top:5px;
    font-family: 'Poppins', sans-serif;

}

.main2{
    
    width: 1200px;
    max-width: 1440px;
    margin: auto;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
}
.main2 h2:nth-child(1){
    width: 346px;
height: 108px;
font-size: 36px;
line-height: 54px;
color: #333333;
font-weight: 500;
}
.blocks {
    display:flex;
  
}
.blocks div{
    width: 341px;
    height: 422px;
    margin: 20px;
    padding:30px;
}
.blocks div p:nth-child(1){
    width: 67px;
height: 67px;
border-radius: 16px;
}

.blocks div:nth-child(1) p:nth-child(1){
    background: #2D9CDB;
    text-align: center;
  
}
.blocks div:nth-child(1) p:nth-child(1) img{
    width:27px;
    height:27px;
    padding-top:20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(215deg) brightness(101%) contrast(101%);
}
.blocks div:nth-child(2) p:nth-child(1){
    background: #27AE60;
    text-align: center;
}

.blocks div:nth-child(2) p:nth-child(1) img{
    width:28.75px;
    height:27px;
    padding-top:20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(215deg) brightness(101%) contrast(101%);
}

.blocks div:nth-child(3) p:nth-child(1){
    background: #EB5757;
    text-align: center;
}
.blocks div:nth-child(3) p:nth-child(1) img{
    width:30px;
    height:24px;
    padding-top:20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(215deg) brightness(101%) contrast(101%);
}

.blocks div p:nth-child(3){
    width: 273px;
height: 96px;
font-size: 16px;
line-height: 24px;
color: #4F4F4F;
}

.blocks div h3{
    font-size: 24px;
line-height: 36px;
width: 160px;
height: 36px;
color: #333333;

}

.blocks div button{
    width: 116px;
height: 42px;
background: #E0E0E0;
border-radius: 12px;
border: none;
font-size: 16px;
line-height: 24px;
color: #828282;

}
.blocks div:nth-child(2){
    background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
border-radius: 24px;
}
.blocks div:nth-child(2) button{
    width: 116px;
height: 42px;
background: #2D9CDB;
border-radius: 12px;
border: none;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}

.main2 h2:nth-child(3){
    font-weight: 500;
font-size: 36px;
line-height: 54px;
width: 448px;
height: 108px;
margin-top: 200px;  
}
.images {
    width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.images div {
    display:flex;
    flex-wrap: wrap;
    
    
   
}
.images div div{
    margin:0%;
    display:block;
    padding: 10px;
   
}

.images div div:nth-child(odd){
    margin-top: 150px;
}
.images div div p:nth-child(2){
    width: 367.77px;
height: 45.34px;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #333333;
margin-top: 0%;
}

.images div div p:nth-child(1){
    width: 183.88px;
height: 26.45px;
font-weight: 300;
font-size: 14px;
line-height: 21px;
color: #828282;
margin-bottom: 0%;
}

.images div div:nth-child(4) p:nth-child(3){
    margin-top: 150px;
    float: right;
    color:#2D9CDB;
    font-weight: 500;
font-size: 24px;
line-height: 36px;
width: 170px;
height: 36px;
}

.images div div:nth-child(1) img {
    width:545px;
    height:545px;
    background: #EB5757;
    border-radius: 12px;
}
.images div div:nth-child(2) img {
    width: 543px;
height: 544.13px;
border-radius: 24px;

}

.images div div:nth-child(3) img {
    width: 572px;
height: 615px;
border-radius: 24px;
}

.images div div:nth-child(4) img {
    width: 543.02px;
    height: 545.02px;
    border-radius: 24px;
}



.main3{
    display:flex;
    width: 1200px;
    height: 584px;
    margin:auto;
    margin-top: 200px; 
    font-family: 'Poppins', sans-serif;
}
#main3a{
    padding: 100px;
    padding-left: 0%;
}
#main3a p:nth-child(1){
    color:#EB5757;
    font-size: 18px;
line-height: 27px;
}

#main3a h3 {
    color: #333333, 100%;
    font-size: 36px;
line-height: 54px;
width: 280px;
height: 162px;

}

#main3 p:nth-child(2){
    font-size: 16px;
line-height: 24px;
color: #4F4F4F, 100%;
width: 273px;
height: 48px;
}

#main3a{
    width: 300px;
    text-align:left;
    margin: auto;
    margin-top: 0%;
    margin-left: 0%;
    margin-right:200px;

}

#main3b div:nth-child(2){
    display:block;
}
#main3b {
    display:flex;
    width: 700px;
    

}



#person3{
    margin: auto;
    margin-right: 20px;
}

#person3 img{
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 24px;
   
}
#person12{
    position: relative;
    margin-left:20px;
}
#person12 img:nth-child(1){
    width: 260px;
height: 260px;
border-radius: 24px;
}

#person12 img:nth-child(2){
    width: 291.43px;
height: 300px;
border-radius: 24px;
}

.main4 {
    width: 1200px;
    margin:auto;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
    
}
.main4 h2{
    width: 937px;
height: 162px;
font-size: 36px;
line-height: 54px;
color: #333333;
font-weight: 500;
font-family: 'Poppins', sans-serif;
}

.main4 div img{
    width: 82px;
height: 82px;
border-radius: 12px;
}

.main4 div {
    display:flex;
  
}
.main4 div div {
    margin-left: 20px;
    display: block;
}

.main4 div div h4{
    font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #333333;
margin: 0%;
width: 140px;
height: 36px;

}
.main4 div div p{
    width: 191px;
height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #828282;
margin: 0%;

}

.main5{
    font-family: 'Poppins', sans-serif;
    margin:auto;
    margin-top:200px;
    width: 1442px;
height: 385px;
background-color:  #100E1D;
color: #FFFFFF;
}
.main5 div {
    display:flex;
    width: 1132px;
    margin: auto;
   
}
.main5 div ul{
    display: block;
    width: 100px;
    height: 180px;
    margin-top:60px;

}
.main5 div ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height:36px;
    font-style: normal;
    font-weight: 300;
    color: #F2F2F2;
}
   

.main5 div div:nth-child(2){
    display: block;
    width: 200px;
    margin:auto;
    margin-top:60px; 
    margin-right: 200px;
    margin-left: 150px;
      
}

.main5 div div:nth-child(2) p{
    width: 80px;
height: 53px;
font-family: Heebo;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 53px;
margin: 0%;
color: #F2F2F2;
}

.main5 div div:nth-child(2) div:nth-child(2){
 margin: 0%;
}
.main5 div div:nth-child(2) div:nth-child(2) img {
    width:24px;
    height: 24px;
    margin: 1px;
   }

.main5 div div:nth-child(3){
    width: 500px;  
    display: block;
    margin: 0%;
    margin-top:60px;
    
}
.main5 div div:nth-child(3) p{
    font-family: 'Poppins', sans-serif;
    color: #F2F2F2;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    width: 172px;
    height: 21px;
    margin: 0%;
}
.main5 div div:nth-child(3) div{
    display: flex;
    margin: 0%;
    width: 500px;
}

.main5 div div input{
    background: #F2F2F2;
border-radius: 12px;
width: 300px;
height: 57px;
border: none;
font-size: 18px;
line-height: 27px;
padding-left:20px;
font-family: 'Poppins', sans-serif;
margin: 0%;
}

.main5 div div button{
    position: relative;
    left: -105px;
    width: 94px;
    height: 49px;
    background: #2D9CDB;
    border-radius: 12px;
    border: none;
    color: #F2F2F2;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    margin: 5px;

}

.main5 p{
    margin-top: 80px;
    width: 100%;
    text-align: center;
    color:grey;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 900px){


.main{
    width:350px;
    margin: auto;
  
    }
nav {
    width: 350px;
}
nav p{
    font-size: 24px;
    margin-left:0px;
}
nav ul{
    display: none;
}
.main1{
    width: 348px;
    margin: auto;
}

.main1 p:nth-child(1){
    font-size: 12px;
line-height: 18px;
}

.main1 p:nth-child(2){
    font-size: 24px;
line-height: 36px;
width: 272px;
height: 72px;
}

.main1 img{
position: relative;
left: 0px;
margin: auto;
    width: 348px;
height: 145px; 
}


.main1 p:nth-child(4){
    width: 227px;
    height: 58px;
    font-size: 24px;
    line-height: 36px;

}

.main1 p:nth-child(5){
    width: 275px;
    height: 74px;
    font-size: 12px;
    line-height: 18px;
}

.main1 p:nth-child(6) {

    font-size: 10px;
    line-height: 15px;
width: 232px;
height: 21px;
}

.main1 div input{
    width: 291px;
    height: 47px;

    font-size: 14px;
    line-height: 21px;
padding-left:15px;

}

.main1 div button{
    position: absolute;
    width: 71px;
height: 39px;
    font-size: 14px;
line-height: 21px;
    line-height: 27px;
    margin-left: -80px;
    margin-top:5px;
    font-family: 'Poppins', sans-serif;

}


.main2{
    width: 348px;
    margin: auto;
    margin-top: 100px;

}
.main2 h2:nth-child(1){
    width: 259px;
    height: 72px;
    font-size: 24px;
    line-height: 36px;

}
.blocks {
    display:block;
  
}

.blocks div{
    width: 273px;
    height: 380px;
    padding: 5%;
    margin: 10px 0px 0%;
}
.blocks div p:nth-child(3) {
    width: 273px;
    height: 96px;
    font-size: 16px;
line-height: 24px;


}
.main2 h2:nth-child(3){
    margin-top: 20px;
    width: 267px;
height: 72px;
font-size: 24px;
line-height: 36px;
}
.images{
    width:353px;
}
.images div {
    display:block; 
    
   
}
.images div div:nth-child(1) img {
    width: 351px;
    height: 351px;
   
}
.images div div:nth-child(2) img {
    width: 350.99px;
    height: 350.99px;
}

.images div div:nth-child(3) img {
    width: 351px;
    height: 362.17px;
}

.images div div:nth-child(4) img {
    width: 350.1px;
    height: 350.1px;
}
.images div div:nth-child(odd){
    margin-top: 0px;
}

.images div div p:nth-child(2){
    width: 326.72px;
    height: 23.46px;
    font-size: 18px;
    line-height: 27px;

}

.images div div p:nth-child(1){
    width: 293.41px;
    height: 17.55px;
font-size: 12px;
line-height: 18px;
}

.images div div:nth-child(4) p:nth-child(3){
   font-size: 18px;
   line-height: 27px;
   margin-top: 20px;
   text-align:left;
   float:left;
}

.main3 {
    width: 350px;
    display: block;
    margin:auto;
    margin-top: 100px;
}

#main3a{
    width: 320px;
    padding: 0%;
}

#main3a p:nth-child(1){
    width: 280px;
height: 27px;
font-size: 18px;
line-height: 27px;
}

#main3a h3{
    font-size: 36px;
line-height: 54px;
width: 280px;
height: 162px;
color: #333333;
}


#main3b{
    width: 345px;
}
#person3{
    margin-right: 0%;
}
#person3 img{
    width: 178.16px;
    height: 178.16px;
   
}
#person12 {
    margin-left: 10px;
}
#person12 img:nth-child(1){
    width: 144.76px;
    height: 144.76px;
}

#person12 img:nth-child(2){
    width: 162.25px;
    height: 167.03px;
}

.main4{
    width: 345px;
    
}

.main4 h2{
    width: 350px;
    height: 180px;
    font-size: 24px;
    line-height: 36px;
}

.main5 {
    margin: auto;
    margin-top:100px;
 width: 350px;
height: 693px;
}

.main5 div {
    display:block;
    width: 350px;
    height: 693px;
}


.main5 div ul{
  padding-top: 60px;

}


.main5 div div:nth-child(2){
    margin: 0%;
    margin-top:30px; 
    height: 100px;
    margin-left: 40px;

      
}

.main5 div div:nth-child(3){
    width:300px;
    height:200px;
    padding-left: 40px;
}
.main5 div div:nth-child(3) p{
    width: 250px;
    margin:0%;
    text-align:left;
    font-size: 10px;
line-height: 15px;
color: #828282;
}
.main5 div div:nth-child(3) div{
    display:flex;
    width:300px;
    height:200px;
    margin:0%;
    margin-right: 0%;

    
  
}


.main5 div div div input{
    width: 270px;
    height: 47px;
font-size: 14px;
line-height: 21px;
padding-left:15px;
margin: 0%;
}

.main5 div div div button{
    left: -80px;
    width: 80px;
    height: 39px;
    font-size: 14px;
    line-height: 21px;
    margin: 5px;

}
.main5 p{
  margin-top:-10%;
}
}